.nav-bar {
    background: #FEFF9C;
    width: 20%;
    height: 100%;
    position: absolute;
    padding: 20px;
    top: 0;
    z-index: 3;
    min-height: 500px;
    font-family: 'Courier Prime', monospace;

    .logo {
        display: block;
        padding: 8px 0;
        font-size: 28px;
        font-weight: 700;
        color: #4d4d4e;
        display: block;
        line-height: 51px;
        height: 51 px;
        position: relative;
        text-decoration: none;

        img {
            display: block;
            margin: 8px auto;
            width: 24px;
            height: auto;

            &.sub-logo {
                width: 50px;
            }
        }
    }

    nav {
        display: block;
        text-align: left;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;

        a {
            font-size: 18px;
            padding: 7px 0;
            color: #4d4d4e;
            display: block;
            line-height: 19px;
            height: 51 px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                text-decoration: underline wavy red;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
        }

        a.active {
            svg {
                color: #ffd700
            }
        }
    }

    ul {
        position: absolute;
        bottom: 50px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        margin: 0;

        li {
            a {
                color: #4d4d4e;
                padding: 7px 0;
                display: block;
                font-size: 15px;
                line-height: 16px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline wavy red;
                }
            }
        }
    }
}